body .popup
  .popover-header
    white-space: nowrap
    min-width: 240px
    overflow: hidden
    a
      font-weight: bold
      color: inherit
      &.cache-toggle,
      &.remove-marker
        position: absolute
        right: 14px
        padding-left:10px
        background: #f7f7f7
      &.remove-marker
        right: 34px
  .popover-body
    overflow: hidden
    user-select: text
