body .popup
  .popover-header
    white-space: nowrap
    min-width: 240px
    overflow: hidden
    a
      font-weight: bold
      color: inherit
      &.tools
        padding-left:10px
        background: #f7f7f7
  .popover-body
    overflow: hidden
    user-select: text
    .toggle-found
      cursor: pointer
