body .popup
  .popover-header
    white-space: nowrap
    min-width: 240px
    overflow: hidden
    a
      font-weight: bold
      color: inherit
    .tools
      position: absolute
      top: 0.5rem
      right: 0.5rem
      background: #f7f7f7
      a
        padding-left:6px
  .popover-body
    overflow: hidden
    user-select: text
    .toggle-found
      cursor: pointer
      margin-bottom: 0
    .distance
      position: absolute
      bottom: 0.5rem
      right: 0.75rem
