.contextmenu {
    top: -20px!important;
    width: 180px;
    z-index: 1000;
}
.contextmenu .arrow {
    top: 20px!important
}
.contextmenu .popover-content {
    padding: 0;
    user-select: auto;
}
.contextmenu .list-group-item {
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.contextmenu .list-group-item:first-child {
    border-top: none;
}
.contextmenu .list-group-item:hover {
    background-color: #eee
}
.contextmenu .list-group-item i.gp-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.contextmenu .list-group-item i.gp-icon.gp-icon-ruler::before {
    content: '';
    background: url("../img/icon-ruler.ico") no-repeat center;
    display: block;
    background-size: 1em;
    width: 1em;
    height: 1em;
}
