#statusbar {
    top: auto;
    bottom: 0;
    min-height: 20px;
    padding: 4px 6px
}

#statusbar, #statusbar a {
    color: #eee
}
#statusbar > * {
    line-height: 22px
}
#statusbar a.btn {
    padding: 0 6px
}
#statusbar .info {
    color: #eee;
}
#statusbar .info > div {
    margin-left: 0;
    margin-right: 0;
}
#statusbar .info > div ol, #statusbar .info > div ul {
    padding: 0;
}
#statusbar .info > div ul {
    list-style-type: none;
}
#statusbar .attribution, #statusbar .attribution a {
    color: #777;
    text-decoration: none;
    transition: all 200ms;
}
#statusbar .attribution a:hover {
    color: #aaa;
}
#statusbar .mouse-position a,
#statusbar .geolocation a {
    margin-right: 8px
}

#statusbar a.btn-geolocation.active,
#statusbar a.btn-fullscreen.active {
    color: aqua
}
#statusbar a.btn-fullscreen.disabled {
    color: #777;
    pointer-events: none;
}
