html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn-secondary {
    color: #ffffff;
    background-color: #333;
    border-color: #000;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #000;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

#toolbar, #statusbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #333;
}

#statusbar {
    top: auto;
    bottom: 0;
    min-height: 20px;
}

#toolbar .search {
    width: 200px
}
#toolbar .search .dropdown-header {
    font-weight: bold;
    color: #333;
    background: #ddd
}
#toolbar .search .dropdown-header i {
    margin-left: -15px
}
#toolbar > .pull-right {
    margin-left: 8px
}
#statusbar > .pull-left {
    margin-right: 8px
}
#toolbar .geocache .dropdown-menu {
    min-width: 200px
}
#toolbar .geocache .dropdown-header h5 {
    margin: 0;
    line-height: 21px
}
#toolbar .geocache .footer {
    padding: 3px 10px
}
#statusbar .mouse-position, #statusbar .info-toggle {
    color: #eee
}
#statusbar .mouse-position {
    padding-top: 3px
}
#statusbar .info {
    color: #eee
}

.popover {
    cursor: default;
    z-index: 999;
}
.popover-title a.cache-toggle {
    position: absolute;
    right: 14px;
    padding-left:3px;
    background: #f7f7f7
}
.popover-title {
    white-space: nowrap;
    min-width: 200px;
    overflow: hidden
}
.popover-title a {
    font-weight: bold;
    color: inherit
}
.popover.content {
    overflow: hidden
}

.layerswitcher li {
    position: relative
}

/* OSMEdit */
a#osm-edit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 6px
}