html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn-secondary {
    color: #ffffff;
    background-color: #333;
    border-color: #000;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #000;
}
.dropdown-header {
    font-weight: bold;
    color: #333;
    background: #ddd
}
.dropdown-header i {
    margin-left: -15px
}
.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

#toolbar, #statusbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #333
}

#statusbar {
    top: auto;
    bottom: 0;
    min-height: 20px;
}

#toolbar .search {
    width: 200px
}
#toolbar > .pull-right {
    margin-left: 8px
}
#statusbar .mouse-position {
    color: #eee
}

.popover {
    cursor: default
}
.popover-title, .popover-content .metadata {
    white-space: nowrap;
    min-width: 200px
}
.popover-title a {
    font-weight: bold;
    color: inherit
}
