#toolbar .geocache .dropdown-menu {
    min-width: 200px;
    margin-left: 7px;
}
#toolbar .geocache .dropdown-header h5 {
    margin: 0;
    line-height: 21px
}
#toolbar .geocache .footer {
    padding: 3px 10px
}
#toolbar .geocache ul li label {
    padding: 0px 12px;
    font-weight: normal
}

#toolbar .layerswitcher li {
    position: relative
}