#geolocation.btn
  &:disabled
    opacity: 1
    color: #bbb
  &.active.tracking i
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    transform: rotate(-45deg)
#geolocation_marker
  font-size: 2rem
  color: dodgerblue
  text-shadow: 0px 0px 3px white
