#layermanager
  li
    position relative
    width: 300px
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    &.dropdown-item.active,
    &.dropdown-item:active
      color: inherit
      text-decoration: none
      background-color: inherit
    .dot
      height: 6px
      width: 6px
      border-radius: 50%
      display: inline-block
      overflow: hidden
      &.color
        position: absolute
        top: 10px
        left: 8px
      input
        border: 0
        width:20px;
        height:20px;
        position:absolute
        top: -6px
        left: -6px
    .layer-tools
      position: absolute
      padding: 0.25rem 6px
      top: 0
      right: 0
      background: white
      a
        display: inline-block
        padding 0 3px
        color inherit
        width: 20px
        text-align: center
        &.sort-handle
          cursor: ns-resize
          .dot
            background: #ccc
            margin-bottom: 1px
