#layermanager
  button.dropdown-toggle
    border-color black
    background-color black
    :focus,
    :active
      border-color inherit
      background-color inherit
  li
    position relative
    max-width: 250px
    a.remove-layer
      position absolute
      right 0
      top 0
      padding 3px 6px
      color inherit
    .dropdown-item.active, .dropdown-item:active {
      color: inherit;
      text-decoration: none;
      background-color: inherit;
    }
