#toolbar
  position: fixed
  left: auto
  top: auto
  right: 0
  bottom: 100px
  width 40px
  border-radius: 4px 0 0 4px
  button
    color: white
    background: rgba(#000, 0.5)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    margin-top 0
    &:hover
      background: rgba(#000, 0.7)
    &.active
      color: aqua
