#toolbar
  position: fixed
  left: auto
  top: 50%
  right: 0
  transform: translateY(-50%)
  width 40px
  border-radius: 4px 0 0 4px
  button.btn
    color: white
    background-color: rgba(#000, 0.5)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    margin-top 0
    &:hover
      background-color: rgba(#000, 0.7)
    &:focus
      background-color: rgba(#000, 0.5)
    &.active
      color: aqua
      &:hover
        background-color: rgba(#000, 0.7)
