.measure
  position: absolute
  bottom: 10px
  width: 300px
  left: 50%
  margin-left: -150px
  .form-inline
    margin-bottom: 4px
  label
    width: 60px
  input
    width: 80px!important
    display: inline-block!important
