@keyframes map-click-animation
  from
    r: 0
    opacity: 0.5
  to
    r: 10px
    opacity: 0
#mouse-position
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  color: white
  div.coords
    margin-top 6px
circle#map-click-animation
  animation-duration: 0.3s
  animation-iteration-count: 1
  animation-timing-function: ease-out
  animation-name: map-click-animation
