#statusbar
  top auto
  bottom 0
  > *
    color: white
  .btn.active
    background-color: black
    color aqua
  .slot.slot-xs-block
    position: relative
    background: none
    padding: 0
    text-align: left
  @media (max-width: 768px)
    .slot.slot-xs-block
      position: absolute
      width: 100%
      height: 47px
      bottom: 46px
      left: 0
      background: rgba(0, 0, 0, 1)
      padding: 8px
      text-align: center
