#search
  .input-group
    width 146px
  input
    border-color: black
  .dropdown-menu
    max-width: 96vw
    .tools
      position: absolute
      top: 6px
      right: 0
      .btn-link
        color: black
  .dropdown-header
    font-weight bold
    color #333
    background #ddd
    i
      margin-left -15px
  .fill-width.dropdown
    position static
    > .dropdown-menu
      left auto
      > li > a
        white-space normal

@media screen and (min-width: 360px)
  #search
    .input-group
      width 200px

@media screen and (min-width: 460px)
  #search
    .input-group
      width 240px
