body .contextmenu
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2))
  width: 180px
  z-index: 1000
  .arrow
    top: 8px!important
  .popover-body
    padding: 0
    user-select: auto
    .list-group-item
      cursor: pointer
      border-top: 1px solid #ddd
      border-left: none
      border-right: none
      border-bottom: none
      &:first-child
        border-top: none
      &:hover
        background-color: #eee
      .context-item-btn
        position: absolute
        top 0
        right 0
        width 36px
        padding: 0.5rem 0.75rem
        border-radius: 0
        border-left: 1px solid #ddd
        color: inherit
        background-color: #fff
        &:hover
          background-color: #eee
