<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#6c757d">
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Tell the browser it's a PWA -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Tell iOS it's a PWA -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta charset="utf-8">
  <script>
    window.geop = {
      version: '<%= htmlWebpackPlugin.options.version %>'
    }
  </script>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="geop"></div>
</body>
</html>
