#sidebar
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  bottom: 0
  margin-left: -100vw
  z-index: 999
  transition: 0.5s
  overflow-x: hidden
  overflow-y: auto
  &.active
    margin-left: 0

@media (min-width: 576px)
  #sidebar
    width: 350px
    margin-left: -350px

#sidebar-shadow
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.5)
  z-index: 998
  opacity: 0
  transition: all 0.5s ease-in-out
  &.active
    display: block
    opacity: 1
