/* libs */
@import url("lib/bootstrap.min.css");
@import url("lib/font-awesome.min.css");
@import url("lib/ol.css");
/* app */
@import url("app/main.css");
@import url("app/toolbar.css");
@import url("app/statusbar.css");
@import url("app/featureinfo.css");
@import url("app/osm-edit.css");