#tab-cacheinfo
  .header
    white-space: nowrap
    overflow: hidden
    font-weight: bold
    a
      font-weight: bold
      color: inherit
    .tools
      display: none
  .content
    .toggle-found
      cursor: pointer
      margin-bottom: 0
    .distance
      cursor: pointer
      position: absolute
      bottom: 0.5rem
      right: 0.75rem
  .description
    overflow-wrap: break-word
    word-wrap: break-word
    -ms-word-break: break-all
    word-break: break-word
    -ms-hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto
    hyphens: auto
  .fstatus
    color: #ddd
    font-size: 0.8rem
    padding: 4px 6px
  .fstatus.found
    color: #4c9900
  .fstatus.notfound
    color: #206fd6
  .fstatus.problem
    color: red
