#tab-cachelist
  ul
    li
      .fstatus
        position: absolute
        top: 0.75rem
        right: 0.75rem
        color: #ddd
        font-size: 0.8rem
        padding: 4px 6px
      .fstatus.found
        color: #4c9900
      .timestamp
        padding-left: 23px
