#tab-geotrip
  ul
    li
      .badge
        cursor: ns-resize
      .fstatus
        position: absolute
        top: 0.75rem
        right: 35px
        color: #ddd
        font-size: 0.8rem
        padding: 4px 6px
      .fstatus.found
        color: #4c9900
      .timestamp
        padding-left: 23px
  a.export
    color: white
    cursor: pointer
